
.vs/maker-virus--totally-not-a-rickroll-/v16/Browse.VC.db
.vs/maker-virus--totally-not-a-rickroll-/v16/Browse.VC.db-shm
.vs/maker-virus--totally-not-a-rickroll-/v16/Browse.VC.db-wal
.vs/maker-virus--totally-not-a-rickroll-/v16/Browse.VC.opendb
.vs/maker-virus--totally-not-a-rickroll-/v16/ipch/AutoPCH/b353e1612712a1cc/RKRVIRUS.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
0
.vs/ProjectSettings.json
.vs/slnx.sqlite
